%h1 About Us

%p SecondChef came from a team of junior developers, knows as Sun, Sex and Sand, who saw the opportunity to profit from leftovers when cooking at home.

The idea is that when preparing a meal at home, you cook a few more portions than needed, which can then be sold to those who can't/dont know how/don't have time to cook their own meals in the evenings. 
%br
You become your own takeout restaurant for others!
%br
%br

Simply create an account, become a chef and start adding meals that you want to share!
