html {
  position: relative;
  min-height: 100%;

  a:link {
    text-decoration: none;
    color: $main_font_color;
  }

  a:visited {
    text-decoration: none;
    color: $main_font_color;
  }

  a:hover {
    text-decoration: underline;
    color: $main_font_color;
  }

  a:active {
    text-decoration: underline;
    color: $main_font_color;
  }


  .title_image {
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1000;
      position: fixed;
      height: 500px;
      background-image: url("https://assets.creativelive.com/sites/default/files/Diane_Cu_Todd_Porter_WEB_1600x900.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }

  .second_chef {
    font-family: Pacifico;
    float: left;
    color: grey;
    font-size: 40px;
    padding-bottom: 20px;
  }


  .navbar {
   width: 100%;
   z-index: 100;
   position: fixed;
   // position: absolute;
   top: 0;
   list-style-type: none;
   // padding-top: 10px;
   background: white;
   height: 50px;
    ul{
      padding-left: 0;
      // display: none;
      li {  
        display: block;
        width: 100%;
        text-align: center;
        background-color: #fff; 
        border-bottom: solid 1px  #6D695E;
        padding: 8px 0;  
        a { 
        color: #6D695E;
        text-transform: uppercase;
        text-decoration: none;
          &:hover{
            font-weight: 700;
          }
        }
      }
    } 
    .nav-icon{
      display: block;
      position: absolute;
      top: 0;
      right: 20px;
      text-decoration: none;
    }
    .nav-icon:before{
        background: image-url("hamburger_icon.gif") no-repeat;
        color: #fff45a;
        font-size: 2em;
    }
  }

  

  body{
    // @include outer-container;
    font-family: $main_font;
    color: $main_font_color;
    padding-top: 500px;
    margin: 0 0 100px;
    font-size: 20px;
    letter-spacing: 1.5px;
    
    text-align: left;


    // .title_image img {
      
    //   max-height: 300px;
    //   max-width: 100%;

    // }
    
    

    .main_part{
      width: 100%;
      padding: 50px;
      position: relative;
      background-color: #fff;
      z-index: 100;
      margin-bottom: 100px;

      h1.title_font{
        font-family: $heading_font;
        font-size: 3em; 
        background-color: #fff;
        text-align: center;
        color: #EE7600;
      }

      input.btn{
        @include span-columns(12);
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 15px 30px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        outline: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
        background-color: #5C584F;
        color: #fff;
        text-align: center;
        &:hover{
          color: #fff;
          background: #4C4A42; 
          text-decoration: none;
        }
      }

      .btn{
        @include span-columns(12);
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 15px 30px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        outline: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
        background-color: $button_color;
        color: #fff;
        text-align: center;
        &:hover{
          color: #fff;
          background: #D18500; 
          text-decoration: none;
        }
      }

      select {
        @include span-columns(12);
        margin: 5px 0 20px 0;
        text-align: center;
        padding: 15px 30px;
        border: solid 2px $main_font_color;
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: relative;
        background: image-url("arrow_down.gif") 92% 50% no-repeat #fff;
      }

      #latitude, #longitude {
        display: none;
      }
      input{
        @include span-columns(12);
        border: solid 2px $main_font_color;
        margin: 5px 0 20px 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 15px 30px;
        border-radius: 0;
        letter-spacing: 1px;
      }

      input[type="checkbox"]{
        width: 25px;
        height: 25px; 
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 30px;     
      }

      ::-webkit-input-placeholder {
        color: $main_font_color;
        font-style: italic;
      }
     
    }


    ul {
      padding-left: 0;
    }

    #meal_list, #order_list {
      li {
        padding: 20px 0;
        border-bottom: 1px solid black;  
        a:hover{
          font-weight: 700;
          text-decoration: none;
        }
      }
    }

    // #order_list a 

    .chef_shortinfo {
      text-decoration: none;
      padding: 20px;
      background-color: #EDF3F1;
      -webkit-box-shadow: 10px 10px 5px -8px rgba(102,102,102,1);
      -moz-box-shadow: 10px 10px 5px -8px rgba(102,102,102,1);
      box-shadow: 10px 10px 5px -8px rgba(102,102,102,1);
    }

    .chef_shortinfo img {
      float: right;
      margin: right;
    }

    .list_meals, #order_list{
      border-bottom: 0.5px $turquoise_greys;
      list-style-type: none;
      .meal_name{
        font-size: 1.2em;
      }
      .distance{
        display: inline-block;
        float: right;
      }
    }
    

    footer{
      width: 100%;
      position: absolute;
      height: 80px;
      bottom: 0;
      left: 0;
      background-color: $main_font_color;
      color: #fff;
      padding: 20px;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
        &:link{
          color: #fff;
          text-decoration: none;
        }
      } 
    }

  }

}

