body{
  font-family: $main_font;
  color: $main_font_color;


  text-align: center;


  // .title_image img {
    
  //   max-height: 300px;
  //   max-width: 100%;

  // }

  .title_image {
      top: 0;
      left: 0;
      width: 120%;
      z-index: -1000;
      position: fixed;
      height: 500px;
      background-image: url("https://assets.creativelive.com/sites/default/files/Diane_Cu_Todd_Porter_WEB_1600x900.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }

  

  .list_meals{
    border-bottom: 0.5px $turquoise_greys;
    list-style-type: none;
  }


  .btn{
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #fff;
    background-color: $button_dark_turquoise;
    color: #fff;
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover{
      color: #fff;
      background: $turquoise_greys; 
    }
  }

  // trying to style the select button

  select {
    padding: 10px 30px;
    color: #fff;
    border: transparent;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: image-url("arrow_down.png") 92% 50% no-repeat  $button_dark_turquoise;

    option{
      background-color: purple;
    }
  }


  a:link {
    text-decoration: none;
    color: $main_font_color;
  }

  a:visited {
    text-decoration: none;
    color: $main_font_color;
  }

  a:hover {
    text-decoration: underline;
    color: $main_font_color;
  }

  a:active {
    text-decoration: underline;
    color: $main_font_color;
  }

  footer{
    margin-top: 100px;
    background-color: $main_font_color;
    color: #fff;
    padding: 20px;
    text-align: center;
    a:link{
      color: #fff;
    } 
  }

}




