$tablet: new-breakpoint(min-width 768px);
$desktop: new-breakpoint(min-width 1024px); 



$main_font: 'Lato', sans-serif;
$heading_font: 'Pacifico', cursive;
$main_font_color: #282828; //darkgrey
$button_color: #E39000; //orange
$turquoise_greys: #305c69
