$tablet: new-breakpoint(min-width 768px);
$desktop: new-breakpoint(min-width 1024px); 



$main_font: 'Lato', sans-serif;
$main_font_color: #282828;
$button_dark_turquoise: #376978;
$turquoise_greys: #305c69
